.page.blog{
    .date{
        font-size: em(12);
    }
    .related{

        img{
            max-width: 100%;
            height: auto;
        }
    }
    .comments{
        border-top: 1px solid rgba($grey-box, 0.5);
        margin-top: 50px;
        padding-top: 30px;
        input, textarea{
            color: $black;
        }
        input[type="submit"]{
            background-color: $pink;
            border: 0 none;
            border-radius: 3px;
            color: $white;
            padding: 5px 20px;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
        }
        label{
            margin-right: 10px;
            vertical-align: top;
        }
        .comment{
            border-bottom: 1px solid rgba($white, 0.5);
            strong{
                color: $pink;
            }
            .date{
                font-size: em(12);
            }
        }
    }
    .left{
        h2:first-of-type{
            font-size: 3em;
            font-weight: 300;
            line-height: 1.2;
            margin: 0;
        }
    }
}

#blog-wrapper{
    margin: 30px -15px 0px;
}

.blog-post{
    display: inline-block;
    margin: 0 15px 30px;
    vertical-align: top;
    width: calc(33% - 30px);
}

.blog-image img{
    height: auto;
    width: 100%;
}

.blog-title{
    line-height: 1.2;
}

.blog-title a{
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

.blog-title a:hover{
    text-decoration: underline;
}

.blog-excerpt{
    border-bottom: 1px solid #ccc;
    font-size: 0.9em;
    padding-bottom: 30px;
}

.blog-date{
    color: #B92F93;
    font-size: 0.9em;
}

@media(max-width: 1200px){

    .blog-post{
        margin: 0 15px 30px;
        width: calc(50% - 30px);
    }

}

@media(max-width: 680px){

    .blog-post{
        margin: 0 0 30px 15px;
        width: calc(100% - 30px);
    }

}