.home{

	.intro{
		background-color: $grey-box;
		display: flex;
		margin-bottom: 35px;
		padding: 25px 30px 25px 50px;
		.text{
			p{
				color: $grey-text;
				font-size: em(28);
				font-weight: 600;
				line-height: 120%;
				margin: 0;
				strong{
					color: #fff;
				}
				em{
					color: $pink;
					font-style: normal;
				}
			}
		}
		.link{
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-right: 43px;
			padding-left: 20px;
			position: relative;
			width: 190px;
			a{
				@include pink-button();
			}
		}
	}

	.feature{
		overflow: hidden;
		margin-bottom: 35px;
		position: relative;

		.text{
			background-color: rgba($grey-bg, 0.9);
			color: $grey-text;
			width: calc(35% - 60px);
			height: 100%;
			padding: 0 30px;
			position: absolute;
			right: 0;
			top: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h2{
				font-size: em(36);
				line-height: 120%;
				font-weight: 400;
			}
			a{
				@include pink-button();
				font-size: em(16);
			}
		}
	}

	.boxes{
		display: flex;
		.left-box{
			display: flex;
			height: 372px;
			flex-grow: 1;
			.img{
				width: calc(100% - 232px);
				overflow: hidden;
				position: relative;
				img{
					@include responsive-image();
				}
			}
			.text{
				background-color: $grey-box;
				color: $grey-text;
				width: 232px;
				padding: 0 20px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				h2{
					font-size: em(30);
					font-weight: 400;
					line-height: 120%;
					margin: 0;
				}
				a{
					@include pink-button();
				}
			}
		}
		.right-box{
			width: calc(35%);
			margin-left: 30px;
			background-color: $grey-box;
			.img{
				height: 234px;
				overflow: hidden;
				position: relative;
				img{
					@include responsive-image();
				}
			}
			.text{
				display: flex;
				padding: 0 20px;
				h3{
					color: $grey-text;
					font-size: em(30);
					font-weight: 400;
					line-height: 120%;
				}
				.link{
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding-right: 43px;
					a{
						@include pink-button();

					}
				}
			}
		}
	}

}

@media(max-width: 780px){

	.home{

		.intro{
			display: block;
			padding: 25px 30px;
			.text{
				font-size: 0.8em;
			}
			.link{
				padding-left: 0;
				margin-top: 20px;
			}
		}

		.feature{
			height: 294px;
			img{
				height: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.text{
				height: auto;
				top: inherit;
				width: calc(100% - 60px);
				bottom: 0;
				padding-top: 10px;
				padding-bottom: 10px;
				h2{
					font-size: em(26);
					margin-bottom: 10px;
					margin-top: 0;
				}
				p{
					margin: 0;
				}
				a{
					font-size: em(12);
				}
			}
		}

		.boxes{
			display: block;
			.left-box{
				.img{
					width: 50%;
				}
				.text{
					width: calc(50% - 40px);
					h2{
						font-size: em(18);
					}	
				}
				p{
					font-size: em(12);
				}
			}
			.right-box{
				width: auto;
				margin-left: 0;
				margin-top: 30px;
				display: flex;
				.img{
					width: 50%;
				}
				.text{
					width: calc(50% - 40px);
					display: flex;
					flex-direction: column;
					justify-content: center;
					h3{
						margin-top: 0;
						font-size: em(18);
					}
					.link{
						font-size: em(12);
					}
				}
				
			}
		}

	}

}