.page{
    .outer{
        display: flex;
        .right{
            padding-left: 60px;
            width: 33%;
            flex-grow: 1;
            flex-shrink: 0;
            h2{
                padding-top: 62px;
                color: $pink;
                font-size: em(18);
                margin-bottom: 30px;
            }
        }
    }
    .page-top{
        margin-bottom: 20px;
    }

    .page-top h1{
        background-color: #000;
        color: #B92F93;
        font-size: 1.875em;
        font-weight: 600;
        line-height: 1;
        margin: 0;
        padding: 22px 0 22px 44px;
    }

    .page-top-image{
        height: 350px;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .page-top-image img{
        height: auto;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .pullquote{
        background-color: #EEEEEE;
        color: #666;
        font-size: 1.4em;
        font-weight: 400;
        margin-top: -30px;
        padding: 20px;
    }

    #projects-wrapper{
        margin: 30px -15px 0 -15px;
    }

    .project{
        display: inline-block;
        height: 420px;
        margin: 0 15px 30px;
        position: relative;
        width: calc(33% - 27.7px);
    }

    .project a{
        display: block;
        height: 100%;
    }

    .project-image{
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .project-image-overlay{
        background-color: #BA2B93;
        height: 100%;
        opacity: 0;
        position: absolute;
        transition: opacity 0.3s ease;
        width: 100%;
        z-index: 10;
    }

    .project a:hover .project-image-overlay{
        opacity: 0.3;
    }

    .project-image img{
        height: auto;
        left: 50%;
        position: absolute;
        top: 34%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .project-text{
        background-color: #DDD;
        bottom: 0;
        left: 0;
        padding: 20px;
        position: absolute;
        transition: background-color 0.3s ease;
        width: calc(100% - 40px);
        z-index: 20;
    }

    .project a:hover .project-text{
        background-color: #BA2B93;
    }

    .project-text h3{
        color: #000;
        font-size: 2.250em;
        font-weight: 600;
        line-height: 1.0;
        margin: 0;
        transition: color 0.3s ease;
    }

    .project-text p{
        background: url('img/arrow-shape.svg') no-repeat center right transparent;
        background-size: 29px 29px;
        color: #BA2B93;
        font-size: 0.875em;
        padding-right: 30%;
        transition: color 0.3s ease;
    }

    .project a:hover .project-text h3, .project a:hover .project-text p{
        color: #fff;
    }

    h2{
        font-size: 2em;
        margin: 0;
    }

    a{
        color: #999;
        transition: color 200ms;
        text-decoration: none;
    }

    a:hover{
        color: $pink;
        transition: color 200ms;
    }

    .button.backlink{
        float: right;
        margin: 10px 42px 0 0;
        @include pink_button();
    }

    .category{
        color: #BA2192;
        font-size: 1.2em;
        font-weight: 600;
        margin-top: 60px;
    }

    #projects-sidebar .project{
        margin: 20px 0;
        width: 100%;
    }

    #projects-sidebar .project-text h3{
        font-size: 1.5em;
    }

    .project-content .panel-grid:first-child h3{
        font-size: 3em;
        font-weight: 300;
        line-height: 1.2;
        margin: 0;
    }

    .buttons{
        > .panel-grid-cell{
            position: relative;
            > .widget_sow-image{
                margin-bottom: 0 !important;
            }
            > .widget_black_studio_tinymce{
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 0 15px;
                background-color: $grey-text;
                padding: 20px 60px 20px 20px;
                &:after{
                    background-image: url('img/arrow-shape.svg');
                    background-size: 29px 29px;
                    height: 29px;
                    width: 29px;
                    content: '';
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translate(0, -50%);
                }
                h2{
                    color: black;
                    font-size: 2.25em;
                }
                p{
                    color: $pink;
                    font-size: 0.875em;
                }
            }
        }
        .so-widget-sow-image{
            position: relative;
            background-color: $pink;
            a{
                position: absolute;
                bottom: 0;
                left: 0;
                top: 0;
                right: 0;
                z-index: 100;
            }
            .widget-title{
                
                position: absolute;
                bottom: 0;
                margin: 0;
                
                
                line-height: 1;
                transition: all 200ms;
                
            }
            img{
                opacity: 1.0;
                transition: opacity 200ms;
            }
            &:hover img{
                opacity: 0.8;
                transition: opacity 200ms;
            }
            &:hover .widget-title{
                background-color: $pink;
                color: white;
                transition: all 200ms;
            }
        }
    }
    
    .navigation{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
        @media(max-width: 680px){
            display: block;
        }
        a{
            color: white;
            background-color: $pink;
            display: inline;
            transition: background-color 200ms;
            @media(max-width: 680px){
                display: block;
                margin-bottom: 10px;
            }

            &:hover, &:hover:after, &:hover:before{
                background-color: darken($pink, 10%) !important;
                transition: background-color 200ms;
            }
        }
        & > div:nth-child(1) a{
            padding: 5px 10px 5px 0;
            &:before{
                content: '<';
                font-weight: bold;
                background-color: $pink;
                margin-right: 3px;
                padding: 5px 10px;
                margin-right: 10px;
                transition: background-color 200ms;
                border-right: 3px solid $grey-bg;
            }
        }
        & > div:nth-child(2){
            text-align: right;
            a{
                padding: 5px 0 5px 10px;
                &:after{
                    content: '>';
                    font-weight: bold;
                    display: inline;
                    background-color: $pink;
                    padding: 5px 10px;
                    margin-left: 10px;
                    transition: background-color 200ms;
                    border-left: 3px solid $grey-bg;
                }
            }
        }
    }
}

@media(max-width: 1200px){

    .page-top-image img{
        min-height: 100%;
        width: auto;
    }

    .project{
        width: calc(50% - 30px);
    }

}

@media(max-width: 680px){

    .project-page .category{
        margin-top: 0;
    }

    .page-top{
        margin-bottom: 30px;
    }

    .project{
        width: calc(100% - 30px);
    }

    .project-page .button.backlink{
        float: none;
        margin: 10px 0 20px;
    }

}

//------------ SARAHS HANDY WORK VVVVVVVVVV ------------ //

#menu.active{
    display: block;
    opacity: 1.0;
    transition: opacity 300ms;
}

#menu:before{
    border-bottom: none;

     @media(min-width: 781px){
        border-bottom: 9px solid #B92F93;
     }
}

#menu .close{
    position:fixed;
    top:30px;
    right:30px;
    z-index:200;
    background: url(img/menu-exit.png);
    width:30px;
    height:30px;
    display:block;
    text-indent: -1000000px;

     @media(min-width: 781px){
         display:none;
     }

}


#menu .menu-header-menu-container {
    content:'';
    background: rgba($pink, 0.9) ;
    position:fixed;
    margin-left: -20px;
    margin-top:-95px;
    padding:0;
    height: 105vh;
    width:100vw;


    @media(min-width: 781px) {
        background:none;
        margin-top:20px;
        margin-left:0;
        position:inherit;
        height: 50%;
        
    }

    

}



#menu .menu-header-menu-container {
        width:inherit;
    > ul{
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media(min-width: 781px){
            position:none;
            margin-top:-30px;
            left:-450px;
            transform: translate(0%, 0%);
            
        }
    }
    

}
    

 #menu ul li{
     display: block;
     font-size: 30px;
     margin:0px;
     @media (max-height: 710px){
            font-size:20px;
            line-height: 1em;
        }
    
     
     a{
        background:transparent; 
        border:none;
     }

     a:hover{
         color:#ffffff;
        
     }

      .sub-menu li{
        font-size: 20px;
    

        @media (max-height: 710px){
            font-size:14px;
        }
        
        a{
            background:transparent;
            border:none;
            @media(min-width: 781px) {
                background-color: #9F1C73;
                border-top: 1px solid #7C165F;
            }
        }
     }

}

@media(min-width: 781px){

    #menu ul li{
        display: inline-block;
        font-size: initial;
        margin-left:20px;

        
    }
}



/*  EXIT BUTTON CSS

#menu .menu-header-menu-container .menu:before{
    content: url('img/menu-exit.png');
    margin:10px;
    padding:10px;
    position:absolute;
    background: #9F1C73;
    top:30px;
    right:30px;
    z-index:200;

    @media (min-width: 781px) {
        visibility: hidden;
    }
}

*/



