/*
    Theme Name: IreneInc
    Theme URI: http://www.ireneinc.com.au
    Description: Planning and Urban Design
    Version: 1.0
    Author: Futago (web@futago.com.au)
    Author URI: http://www.futago.com.au

    License: MIT
    License URI: http://opensource.org/licenses/mit-license.php
*/
/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Sitewide
   ========================================================================== */
::-moz-selection {
  background: #BA2B93;
  /* WebKit/Blink Browsers */
  color: #fff; }
::selection {
  background: #BA2B93;
  /* WebKit/Blink Browsers */
  color: #fff; }

::-moz-selection {
  background: #BA2B93;
  /* Gecko Browsers */
  color: #fff; }

.off-left {
  left: -10000px;
  position: absolute; }

html {
  min-height: 100%;
  position: relative; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 311px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292927; }

#header {
  background-color: #1E1E1C;
  height: 98px; }

#header-inner {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 1151px; }

#header-logo {
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }

#header-logo img {
  height: 33px;
  width: 210px; }

#mobile-menu-link {
  display: none; }

#menu {
  font-family: 'Asap', sans-serif;
  font-size: 1em;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 100; }
  #menu ul {
    padding: 0; }
    #menu ul li {
      display: inline-block;
      margin-left: 20px;
      position: relative; }
      #menu ul li:first-child {
        margin-left: 0; }
  #menu a {
    color: #fff;
    text-decoration: none;
    transition: color 200ms; }
    #menu a:hover {
      color: #BA2B93;
      text-decoration: underline;
      transition: color 200ms; }
  #menu li:hover .sub-menu {
    display: block; }
  #menu .sub-menu {
    display: none;
    left: 50%;
    min-width: 150px;
    padding-top: 9px;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: auto; }
    #menu .sub-menu:before {
      border-bottom: 9px solid #9F1C73;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      content: '';
      height: 0;
      left: 50%;
      position: absolute;
      top: 0;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      width: 0; }
    #menu .sub-menu li {
      display: block;
      margin-left: 0;
      overflow: hidden; }
    #menu .sub-menu a {
      background-color: #9F1C73;
      border-top: 1px solid #7C165F;
      display: block;
      padding: 5px 10px;
      text-align: center; }
      #menu .sub-menu a:hover {
        color: #fff; }
    #menu .sub-menu li:first-child a {
      border-top: 0 none; }

#main-content {
  color: #fff;
  margin: 0 auto;
  padding: 50px 0;
  width: 1151px; }

footer {
  background-color: #1E1E1C;
  bottom: 0;
  height: 311px;
  left: 0;
  position: absolute;
  width: 100%; }

#footer-inner {
  margin: 0 auto;
  padding-top: 40px;
  width: 1151px; }

footer p {
  color: #8B8585;
  text-align: center; }

footer a {
  color: #8B8585; }

@media (max-width: 1200px) {
  #header-inner, #main-content, #footer-inner {
    width: auto; }
  #main-content {
    padding: 50px 20px; }
  #header-inner {
    margin: 0 auto;
    width: calc(100% - 40px); } }

@media (max-width: 780px) {
  #header {
    height: 82px; }
  #header-logo img {
    height: auto;
    width: 172px; }
  #mobile-menu-link {
    color: #fff;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    text-decoration: none;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  #mobile-menu-link img {
    height: 19px;
    margin-right: 15px;
    vertical-align: middle;
    width: 21px; }
  #menu {
    display: none;
    position: absolute;
    top: 93px;
    -ms-transform: none;
    transform: none;
    -webkit-transform: none;
    width: 100%;
    opacity: 0.0; }
  #menu:before {
    border-bottom: 9px solid #B92F93;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    content: '';
    height: 0;
    right: 52px;
    position: absolute;
    top: -9px;
    width: 0; }
  #menu ul {
    margin: 0; }
  #menu li {
    display: block;
    margin-left: 0; }
  #menu li a {
    background-color: #B92F93;
    border-top: 1px solid #9F1C73;
    display: block;
    padding: 10px 0;
    text-align: center; }
  #menu li:first-child a {
    border-top: 0 none; }
  #menu .sub-menu {
    display: block;
    left: 0;
    padding-top: 0;
    position: relative;
    -ms-transform: none;
    transform: none;
    -webkit-transform: none; }
  #menu .sub-menu:before {
    content: none; }
  #menu .sub-menu a {
    background-color: #9F1C73; }
  #main-content {
    padding-top: 20px; } }

/* ==========================================================================
   Homepage
   ========================================================================== */
.home .intro {
  background-color: #0F0F0E;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  padding: 25px 30px 25px 50px; }
  .home .intro .text p {
    color: #C9C3C4;
    font-size: 1.75em;
    font-weight: 600;
    line-height: 120%;
    margin: 0; }
    .home .intro .text p strong {
      color: #fff; }
    .home .intro .text p em {
      color: #BA2B93;
      font-style: normal; }
  .home .intro .link {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 43px;
    padding-left: 20px;
    position: relative;
    width: 190px; }
    .home .intro .link a {
      background-color: #BA2B93;
      color: #fff;
      display: inline-block;
      font-size: 0.875em;
      height: auto;
      padding: 5px 10px;
      position: relative;
      text-decoration: none;
      transition: background-color 200ms; }
      .home .intro .link a:hover {
        background-color: #912172;
        transition: background-color 200ms; }
      .home .intro .link a:after {
        background: no-repeat center center #BA2B93;
        background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228.93%22%20height%3D%2214%22%20viewBox%3D%220%200%208.93%2014%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Earrow-white%3C%2Ftitle%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220%201.86%201.9%200%208.93%207%201.9%2014%200%2012.14%205.16%207%200%201.86%22%2F%3E%3C%2Fsvg%3E);
        background-size: auto 14px;
        content: '';
        height: 100%;
        left: calc(100% + 3px);
        position: absolute;
        top: 0;
        width: 40px;
        transition: background-color 200ms; }
      .home .intro .link a:hover:after {
        background-color: #912172;
        transition: background-color 200ms; }

.home .feature {
  overflow: hidden;
  margin-bottom: 35px;
  position: relative; }
  .home .feature .text {
    background-color: rgba(41, 41, 39, 0.9);
    color: #C9C3C4;
    width: calc(35% - 60px);
    height: 100%;
    padding: 0 30px;
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .home .feature .text h2 {
      font-size: 2.25em;
      line-height: 120%;
      font-weight: 400; }
    .home .feature .text a {
      background-color: #BA2B93;
      color: #fff;
      display: inline-block;
      font-size: 0.875em;
      height: auto;
      padding: 5px 10px;
      position: relative;
      text-decoration: none;
      transition: background-color 200ms;
      font-size: 1em; }
      .home .feature .text a:hover {
        background-color: #912172;
        transition: background-color 200ms; }
      .home .feature .text a:after {
        background: no-repeat center center #BA2B93;
        background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228.93%22%20height%3D%2214%22%20viewBox%3D%220%200%208.93%2014%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Earrow-white%3C%2Ftitle%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220%201.86%201.9%200%208.93%207%201.9%2014%200%2012.14%205.16%207%200%201.86%22%2F%3E%3C%2Fsvg%3E);
        background-size: auto 14px;
        content: '';
        height: 100%;
        left: calc(100% + 3px);
        position: absolute;
        top: 0;
        width: 40px;
        transition: background-color 200ms; }
      .home .feature .text a:hover:after {
        background-color: #912172;
        transition: background-color 200ms; }

.home .boxes {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .home .boxes .left-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 372px;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .home .boxes .left-box .img {
      width: calc(100% - 232px);
      overflow: hidden;
      position: relative; }
      .home .boxes .left-box .img img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        .home .boxes .left-box .img img.taller {
          height: auto;
          width: 100%; }
        .home .boxes .left-box .img img.wider {
          width: auto;
          height: 100%; }
        .home .boxes .left-box .img img.equal {
          width: 100%;
          height: 100%; }
    .home .boxes .left-box .text {
      background-color: #0F0F0E;
      color: #C9C3C4;
      width: 232px;
      padding: 0 20px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .home .boxes .left-box .text h2 {
        font-size: 1.875em;
        font-weight: 400;
        line-height: 120%;
        margin: 0; }
      .home .boxes .left-box .text a {
        background-color: #BA2B93;
        color: #fff;
        display: inline-block;
        font-size: 0.875em;
        height: auto;
        padding: 5px 10px;
        position: relative;
        text-decoration: none;
        transition: background-color 200ms; }
        .home .boxes .left-box .text a:hover {
          background-color: #912172;
          transition: background-color 200ms; }
        .home .boxes .left-box .text a:after {
          background: no-repeat center center #BA2B93;
          background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228.93%22%20height%3D%2214%22%20viewBox%3D%220%200%208.93%2014%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Earrow-white%3C%2Ftitle%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220%201.86%201.9%200%208.93%207%201.9%2014%200%2012.14%205.16%207%200%201.86%22%2F%3E%3C%2Fsvg%3E);
          background-size: auto 14px;
          content: '';
          height: 100%;
          left: calc(100% + 3px);
          position: absolute;
          top: 0;
          width: 40px;
          transition: background-color 200ms; }
        .home .boxes .left-box .text a:hover:after {
          background-color: #912172;
          transition: background-color 200ms; }
  .home .boxes .right-box {
    width: calc(35%);
    margin-left: 30px;
    background-color: #0F0F0E; }
    .home .boxes .right-box .img {
      height: 234px;
      overflow: hidden;
      position: relative; }
      .home .boxes .right-box .img img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        .home .boxes .right-box .img img.taller {
          height: auto;
          width: 100%; }
        .home .boxes .right-box .img img.wider {
          width: auto;
          height: 100%; }
        .home .boxes .right-box .img img.equal {
          width: 100%;
          height: 100%; }
    .home .boxes .right-box .text {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 0 20px; }
      .home .boxes .right-box .text h3 {
        color: #C9C3C4;
        font-size: 1.875em;
        font-weight: 400;
        line-height: 120%; }
      .home .boxes .right-box .text .link {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-right: 43px; }
        .home .boxes .right-box .text .link a {
          background-color: #BA2B93;
          color: #fff;
          display: inline-block;
          font-size: 0.875em;
          height: auto;
          padding: 5px 10px;
          position: relative;
          text-decoration: none;
          transition: background-color 200ms; }
          .home .boxes .right-box .text .link a:hover {
            background-color: #912172;
            transition: background-color 200ms; }
          .home .boxes .right-box .text .link a:after {
            background: no-repeat center center #BA2B93;
            background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228.93%22%20height%3D%2214%22%20viewBox%3D%220%200%208.93%2014%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Earrow-white%3C%2Ftitle%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220%201.86%201.9%200%208.93%207%201.9%2014%200%2012.14%205.16%207%200%201.86%22%2F%3E%3C%2Fsvg%3E);
            background-size: auto 14px;
            content: '';
            height: 100%;
            left: calc(100% + 3px);
            position: absolute;
            top: 0;
            width: 40px;
            transition: background-color 200ms; }
          .home .boxes .right-box .text .link a:hover:after {
            background-color: #912172;
            transition: background-color 200ms; }

@media (max-width: 780px) {
  .home .intro {
    display: block;
    padding: 25px 30px; }
    .home .intro .text {
      font-size: 0.8em; }
    .home .intro .link {
      padding-left: 0;
      margin-top: 20px; }
  .home .feature {
    height: 294px; }
    .home .feature img {
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .home .feature .text {
      height: auto;
      top: inherit;
      width: calc(100% - 60px);
      bottom: 0;
      padding-top: 10px;
      padding-bottom: 10px; }
      .home .feature .text h2 {
        font-size: 1.625em;
        margin-bottom: 10px;
        margin-top: 0; }
      .home .feature .text p {
        margin: 0; }
      .home .feature .text a {
        font-size: 0.75em; }
  .home .boxes {
    display: block; }
    .home .boxes .left-box .img {
      width: 50%; }
    .home .boxes .left-box .text {
      width: calc(50% - 40px); }
      .home .boxes .left-box .text h2 {
        font-size: 1.125em; }
    .home .boxes .left-box p {
      font-size: 0.75em; }
    .home .boxes .right-box {
      width: auto;
      margin-left: 0;
      margin-top: 30px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .home .boxes .right-box .img {
        width: 50%; }
      .home .boxes .right-box .text {
        width: calc(50% - 40px);
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .home .boxes .right-box .text h3 {
          margin-top: 0;
          font-size: 1.125em; }
        .home .boxes .right-box .text .link {
          font-size: 0.75em; } }

/* ==========================================================================
   Standard pages
   ========================================================================== */
.page .outer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .page .outer .right {
    padding-left: 60px;
    width: 33%;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
    .page .outer .right h2 {
      padding-top: 62px;
      color: #BA2B93;
      font-size: 1.125em;
      margin-bottom: 30px; }

.page .page-top {
  margin-bottom: 20px; }

.page .page-top h1 {
  background-color: #000;
  color: #B92F93;
  font-size: 1.875em;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 22px 0 22px 44px; }

.page .page-top-image {
  height: 350px;
  overflow: hidden;
  position: relative;
  width: 100%; }

.page .page-top-image img {
  height: auto;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%; }

.page .pullquote {
  background-color: #EEEEEE;
  color: #666;
  font-size: 1.4em;
  font-weight: 400;
  margin-top: -30px;
  padding: 20px; }

.page #projects-wrapper {
  margin: 30px -15px 0 -15px; }

.page .project {
  display: inline-block;
  height: 420px;
  margin: 0 15px 30px;
  position: relative;
  width: calc(33% - 27.7px); }

.page .project a {
  display: block;
  height: 100%; }

.page .project-image {
  height: 100%;
  overflow: hidden;
  position: relative; }

.page .project-image-overlay {
  background-color: #BA2B93;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 10; }

.page .project a:hover .project-image-overlay {
  opacity: 0.3; }

.page .project-image img {
  height: auto;
  left: 50%;
  position: absolute;
  top: 34%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%; }

.page .project-text {
  background-color: #DDD;
  bottom: 0;
  left: 0;
  padding: 20px;
  position: absolute;
  transition: background-color 0.3s ease;
  width: calc(100% - 40px);
  z-index: 20; }

.page .project a:hover .project-text {
  background-color: #BA2B93; }

.page .project-text h3 {
  color: #000;
  font-size: 2.250em;
  font-weight: 600;
  line-height: 1.0;
  margin: 0;
  transition: color 0.3s ease; }

.page .project-text p {
  background: url("img/arrow-shape.svg") no-repeat center right transparent;
  background-size: 29px 29px;
  color: #BA2B93;
  font-size: 0.875em;
  padding-right: 30%;
  transition: color 0.3s ease; }

.page .project a:hover .project-text h3, .page .project a:hover .project-text p {
  color: #fff; }

.page h2 {
  font-size: 2em;
  margin: 0; }

.page a {
  color: #999;
  transition: color 200ms;
  text-decoration: none; }

.page a:hover {
  color: #BA2B93;
  transition: color 200ms; }

.page .button.backlink {
  float: right;
  margin: 10px 42px 0 0;
  background-color: #BA2B93;
  color: #fff;
  display: inline-block;
  font-size: 0.875em;
  height: auto;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  transition: background-color 200ms; }
  .page .button.backlink:hover {
    background-color: #912172;
    transition: background-color 200ms; }
  .page .button.backlink:after {
    background: no-repeat center center #BA2B93;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228.93%22%20height%3D%2214%22%20viewBox%3D%220%200%208.93%2014%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Earrow-white%3C%2Ftitle%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220%201.86%201.9%200%208.93%207%201.9%2014%200%2012.14%205.16%207%200%201.86%22%2F%3E%3C%2Fsvg%3E);
    background-size: auto 14px;
    content: '';
    height: 100%;
    left: calc(100% + 3px);
    position: absolute;
    top: 0;
    width: 40px;
    transition: background-color 200ms; }
  .page .button.backlink:hover:after {
    background-color: #912172;
    transition: background-color 200ms; }

.page .category {
  color: #BA2192;
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 60px; }

.page #projects-sidebar .project {
  margin: 20px 0;
  width: 100%; }

.page #projects-sidebar .project-text h3 {
  font-size: 1.5em; }

.page .project-content .panel-grid:first-child h3 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.2;
  margin: 0; }

.page .buttons > .panel-grid-cell {
  position: relative; }
  .page .buttons > .panel-grid-cell > .widget_sow-image {
    margin-bottom: 0 !important; }
  .page .buttons > .panel-grid-cell > .widget_black_studio_tinymce {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 15px;
    background-color: #C9C3C4;
    padding: 20px 60px 20px 20px; }
    .page .buttons > .panel-grid-cell > .widget_black_studio_tinymce:after {
      background-image: url("img/arrow-shape.svg");
      background-size: 29px 29px;
      height: 29px;
      width: 29px;
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    .page .buttons > .panel-grid-cell > .widget_black_studio_tinymce h2 {
      color: black;
      font-size: 2.25em; }
    .page .buttons > .panel-grid-cell > .widget_black_studio_tinymce p {
      color: #BA2B93;
      font-size: 0.875em; }

.page .buttons .so-widget-sow-image {
  position: relative;
  background-color: #BA2B93; }
  .page .buttons .so-widget-sow-image a {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100; }
  .page .buttons .so-widget-sow-image .widget-title {
    position: absolute;
    bottom: 0;
    margin: 0;
    line-height: 1;
    transition: all 200ms; }
  .page .buttons .so-widget-sow-image img {
    opacity: 1.0;
    transition: opacity 200ms; }
  .page .buttons .so-widget-sow-image:hover img {
    opacity: 0.8;
    transition: opacity 200ms; }
  .page .buttons .so-widget-sow-image:hover .widget-title {
    background-color: #BA2B93;
    color: white;
    transition: all 200ms; }

.page .navigation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px; }
  @media (max-width: 680px) {
    .page .navigation {
      display: block; } }
  .page .navigation a {
    color: white;
    background-color: #BA2B93;
    display: inline;
    transition: background-color 200ms; }
    @media (max-width: 680px) {
      .page .navigation a {
        display: block;
        margin-bottom: 10px; } }
    .page .navigation a:hover, .page .navigation a:hover:after, .page .navigation a:hover:before {
      background-color: #912172 !important;
      transition: background-color 200ms; }
  .page .navigation > div:nth-child(1) a {
    padding: 5px 10px 5px 0; }
    .page .navigation > div:nth-child(1) a:before {
      content: '<';
      font-weight: bold;
      background-color: #BA2B93;
      margin-right: 3px;
      padding: 5px 10px;
      margin-right: 10px;
      transition: background-color 200ms;
      border-right: 3px solid #292927; }
  .page .navigation > div:nth-child(2) {
    text-align: right; }
    .page .navigation > div:nth-child(2) a {
      padding: 5px 0 5px 10px; }
      .page .navigation > div:nth-child(2) a:after {
        content: '>';
        font-weight: bold;
        display: inline;
        background-color: #BA2B93;
        padding: 5px 10px;
        margin-left: 10px;
        transition: background-color 200ms;
        border-left: 3px solid #292927; }

@media (max-width: 1200px) {
  .page-top-image img {
    min-height: 100%;
    width: auto; }
  .project {
    width: calc(50% - 30px); } }

@media (max-width: 680px) {
  .project-page .category {
    margin-top: 0; }
  .page-top {
    margin-bottom: 30px; }
  .project {
    width: calc(100% - 30px); }
  .project-page .button.backlink {
    float: none;
    margin: 10px 0 20px; } }

#menu.active {
  display: block;
  opacity: 1.0;
  transition: opacity 300ms; }

#menu:before {
  border-bottom: none; }
  @media (min-width: 781px) {
    #menu:before {
      border-bottom: 9px solid #B92F93; } }

#menu .close {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 200;
  background: url(img/menu-exit.png);
  width: 30px;
  height: 30px;
  display: block;
  text-indent: -1000000px; }
  @media (min-width: 781px) {
    #menu .close {
      display: none; } }

#menu .menu-header-menu-container {
  content: '';
  background: rgba(186, 43, 147, 0.9);
  position: fixed;
  margin-left: -20px;
  margin-top: -95px;
  padding: 0;
  height: 105vh;
  width: 100vw; }
  @media (min-width: 781px) {
    #menu .menu-header-menu-container {
      background: none;
      margin-top: 20px;
      margin-left: 0;
      position: inherit;
      height: 50%; } }

#menu .menu-header-menu-container {
  width: inherit; }
  #menu .menu-header-menu-container > ul {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media (min-width: 781px) {
      #menu .menu-header-menu-container > ul {
        position: none;
        margin-top: -30px;
        left: -450px;
        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%); } }

#menu ul li {
  display: block;
  font-size: 30px;
  margin: 0px; }
  @media (max-height: 710px) {
    #menu ul li {
      font-size: 20px;
      line-height: 1em; } }
  #menu ul li a {
    background: transparent;
    border: none; }
  #menu ul li a:hover {
    color: #ffffff; }
  #menu ul li .sub-menu li {
    font-size: 20px; }
    @media (max-height: 710px) {
      #menu ul li .sub-menu li {
        font-size: 14px; } }
    #menu ul li .sub-menu li a {
      background: transparent;
      border: none; }
      @media (min-width: 781px) {
        #menu ul li .sub-menu li a {
          background-color: #9F1C73;
          border-top: 1px solid #7C165F; } }

@media (min-width: 781px) {
  #menu ul li {
    display: inline-block;
    font-size: initial;
    margin-left: 20px; } }

/*  EXIT BUTTON CSS

#menu .menu-header-menu-container .menu:before{
    content: url('img/menu-exit.png');
    margin:10px;
    padding:10px;
    position:absolute;
    background: #9F1C73;
    top:30px;
    right:30px;
    z-index:200;

    @media (min-width: 781px) {
        visibility: hidden;
    }
}

*/
/* ==========================================================================
   Blog
   ========================================================================== */
.page.blog .date {
  font-size: 0.75em; }

.page.blog .related img {
  max-width: 100%;
  height: auto; }

.page.blog .comments {
  border-top: 1px solid rgba(15, 15, 14, 0.5);
  margin-top: 50px;
  padding-top: 30px; }
  .page.blog .comments input, .page.blog .comments textarea {
    color: #000; }
  .page.blog .comments input[type="submit"] {
    background-color: #BA2B93;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    padding: 5px 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); }
  .page.blog .comments label {
    margin-right: 10px;
    vertical-align: top; }
  .page.blog .comments .comment {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .page.blog .comments .comment strong {
      color: #BA2B93; }
    .page.blog .comments .comment .date {
      font-size: 0.75em; }

.page.blog .left h2:first-of-type {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.2;
  margin: 0; }

#blog-wrapper {
  margin: 30px -15px 0px; }

.blog-post {
  display: inline-block;
  margin: 0 15px 30px;
  vertical-align: top;
  width: calc(33% - 30px); }

.blog-image img {
  height: auto;
  width: 100%; }

.blog-title {
  line-height: 1.2; }

.blog-title a {
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  text-decoration: none; }

.blog-title a:hover {
  text-decoration: underline; }

.blog-excerpt {
  border-bottom: 1px solid #ccc;
  font-size: 0.9em;
  padding-bottom: 30px; }

.blog-date {
  color: #B92F93;
  font-size: 0.9em; }

@media (max-width: 1200px) {
  .blog-post {
    margin: 0 15px 30px;
    width: calc(50% - 30px); } }

@media (max-width: 680px) {
  .blog-post {
    margin: 0 0 30px 15px;
    width: calc(100% - 30px); } }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
