/*
    Theme Name: IreneInc
    Theme URI: http://www.ireneinc.com.au
    Description: Planning and Urban Design
    Version: 1.0
    Author: Futago (web@futago.com.au)
    Author URI: http://www.futago.com.au

    License: MIT
    License URI: http://opensource.org/licenses/mit-license.php
*/

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Sitewide
   ========================================================================== */

$pink: #BA2B93;
$grey-header: #1E1E1C;
$grey-bg: #292927;
$grey-box: #0F0F0E;
$grey-text: #C9C3C4;
$white: #fff;
$black: #000;

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin pink-button(){

    background-color: $pink;
    color: #fff;
    display: inline-block;
    font-size: 0.875em;
    height: auto;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    transition: background-color 200ms;
    &:hover{
        background-color: darken($pink, 10%);
        transition: background-color 200ms;
    }
    &:after{
        background: no-repeat center center $pink;
        background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228.93%22%20height%3D%2214%22%20viewBox%3D%220%200%208.93%2014%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Earrow-white%3C%2Ftitle%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220%201.86%201.9%200%208.93%207%201.9%2014%200%2012.14%205.16%207%200%201.86%22%2F%3E%3C%2Fsvg%3E);
        background-size: auto 14px;
        content: '';
        height: 100%;
        left: calc(100% + 3px);
        position: absolute;
        top: 0;
        width: 40px;
        transition: background-color 200ms;
    }
    &:hover:after{
        background-color: darken($pink, 10%);
        transition: background-color 200ms;
    }

}

@mixin responsive-image(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.taller{
        height: auto;
        width: 100%;
    }
    &.wider{
        width: auto;
        height: 100%;
    }
    &.equal{
        width: 100%;
        height: 100%;
    }
}

::selection {
    background: $pink; /* WebKit/Blink Browsers */
    color: #fff;
}
::-moz-selection {
    background: $pink; /* Gecko Browsers */
    color: #fff;
}

.off-left{
    left: -10000px;
    position: absolute;
}

html{
    min-height: 100%;
    position: relative;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 311px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $grey-bg;
}

#header{
    background-color: $grey-header;
    height: 98px;
}

#header-inner{
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 1151px;
}

#header-logo{
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#header-logo img{
    height: 33px;
    width: 210px;
}

#mobile-menu-link{
    display: none;
}

#menu{
    font-family: 'Asap', sans-serif;
    font-size: 1em;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;

    ul{
        padding: 0;
        li{
            display: inline-block;
            margin-left: 20px;
            position: relative;
            &:first-child{
                margin-left: 0;
            }
        }
    }

    a{
        color: #fff;
        text-decoration: none;
        transition: color 200ms;
        &:hover{
            color: $pink;
            text-decoration: underline;
            transition: color 200ms;
        }
    }

    li:hover .sub-menu{
        display: block;
    }

    .sub-menu{
        display: none;
        left: 50%;
        min-width: 150px;
        padding-top: 9px;
        position: absolute;
        transform: translate(-50%, 0);
        width: auto;
        &:before{
            border-bottom: 9px solid #9F1C73;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            content: '';
            height: 0;
            left: 50%;
            position: absolute;
            top: 0;
            transform: translate(-50%, 0);
            width: 0;
        }
        li{
            display: block;
            margin-left: 0;
            overflow: hidden;
        }
        a{
            background-color: #9F1C73;
            border-top: 1px solid #7C165F;
            display: block;
            padding: 5px 10px;
            text-align: center;
            &:hover{
                color: $white;
            }
        }
        li:first-child a{
            border-top: 0 none;
        }
    }

}

#main-content{
    color: #fff;
    margin: 0 auto;
    padding: 50px 0;
    width: 1151px;
}



footer{
    background-color: $grey-header;
    bottom: 0;
    height: 311px;
    left: 0;
    position: absolute;
    width: 100%;
}

#footer-inner{
    margin: 0 auto;
    padding-top: 40px;
    width: 1151px;
}

footer p{
    color: #8B8585;
    text-align: center;
}

footer a{
    color: #8B8585;
}

@media(max-width: 1200px){

    #header-inner, #main-content, #footer-inner{
        width: auto;
    }

    #main-content{
        padding: 50px 20px;
    }

    #header-inner{
        margin: 0 auto;
        width: calc(100% - 40px);
    }

}

@media(max-width: 780px){

    #header{
        height: 82px;
    }

    #header-logo img{
        height: auto;
        width: 172px;
    }

    #mobile-menu-link{
        color: #fff;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        text-decoration: none;
        transform: translate(0, -50%);
    }

    #mobile-menu-link img{
        height: 19px;
        margin-right: 15px;
        vertical-align: middle;
        width: 21px;
    }

    #menu{
        display: none;
        position: absolute;
        top: 93px;
        transform: none;
        -webkit-transform: none;
        width: 100%;
        opacity: 0.0;
    }

    #menu:before{
        border-bottom: 9px solid #B92F93;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        content: '';
        height: 0;
        right: 52px;
        position: absolute;
        top: -9px;
        width: 0;
    }

    #menu ul{
        margin: 0;
    }

    #menu li{
        display: block;
        margin-left: 0;
    }

    #menu li a{
        background-color: #B92F93;
        border-top: 1px solid #9F1C73;
        display: block;
        padding: 10px 0;
        text-align: center;
    }

    #menu li:first-child a{
        border-top: 0 none;
    }

    #menu .sub-menu{
        display: block;
        left: 0;
        padding-top: 0;
        position: relative;
        transform: none;
        -webkit-transform: none;
    }

    #menu .sub-menu:before{
        content: none;
    }

    #menu .sub-menu a{
        background-color: #9F1C73;
    }

    #main-content{
        padding-top: 20px;
    }

}

/* ==========================================================================
   Homepage
   ========================================================================== */

@import 'css/homepage.scss';


/* ==========================================================================
   Standard pages
   ========================================================================== */

@import 'css/page-template.scss';

/* ==========================================================================
   Blog
   ========================================================================== */

@import 'css/blog.scss';

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
